# Xcode build artifacts
build/
DerivedData/

# User-specific settings
*.xcuserstate
*.xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS system files
.DS_Store
